extends layout

block content
  - postMonth = post.date.getMonth()
  - postMonthName = monthNames(postMonth)
  - postDate = post.date.getDate()
  - postYear = post.date.getFullYear()
  h6
    span #{postMonthName}, #{postDate} #{postYear}
    
  .post
    h3.title
      a(href=post.url)
        = post.title
    .post.content
      != post.content
    
    p tags:&nbsp;&nbsp;
      - each tag in post.tags
        a(href=tagUrl(tag)) #{tag}
        | &nbsp;&nbsp;
